spencer dawkins comments on *-2

A nit - "A glossary is proposed in Section 6 to clarify the terminology use throughout the document." should probably be something like "A glossary is included in Section 6 to clarify the terminology use throughout the document."

I'm not sure I can parse

   While there is an active research Community working on network coding
   techniques above the network layer in general and in SATCOM in
   particular, not much of this work made it to commercial systems in
                                     ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
   the satellite industry.

Is "made it to commercial systems" something like "has been deployed in commercial systems"?

Now that you are requesting publication, you can probably change

   In this context, this document aims at
                                  ^^^^^^
   identifying opportunities for further usage of network coding in
   ^^^^^^^^^^^
   commercial SATCOM networks.

to

  In this context, this document
   identifies opportunities for further usage of network coding in
   ^^^^^^^^^
   commercial SATCOM networks.

I know it's hard to say clearly, but

   o  Forward Erasure Correction (FEC) (also called Application-Level
      FEC) operates in and above the network layer and targets packet
                    ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
      loss recovery.

"in and above the network layer" is ambiguous. I think it means "in, above, or both", but it's hard to read. Perhaps

   o  Forward Erasure Correction (FEC) (also called Application-Level
      FEC) operates above the PHYsical (PHY) layer and targets packet
                    ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
      loss recovery.

(since you used that term in the previous bullet), or "above the link payer" if that term is more accurate. Using ISO terms to describe an Internet protocol stack is hard ("subnetwork layer" is another choice) :-)

In

   There are multiple SATCOM systems, for example broadcast TV, point to
   point communication or IoT and monitoring
                          ^^^^^^^^^^^^^^^^^^

Is "IoT and monitoring" one term or two? If "two", "monitoring" is vague (would this include medical monitoring?) If you can qualify "monitoring" in any way, that would be clearer to me.

In
   This could also be achieved by using other multicast or broadcast
   systems, such as NACK-Oriented Reliable Multicast (NORM) [RFC5740] or
   File Delivery over Unidirectional Transport (FLUTE) [RFC6726].  Both
   NORM and FLUTE are limited to block coding, none of them supporting
                                             ^^^^^^^^^^^^^^
   more flexible sliding window encoding schemes that allow decoding
   before receiving the whole block an added delay benefit
   [RFC8406][RFC8681].

should probably be "; neither of them"  with a semicolon.

This text

   Depending
   on the use-case (e.g., very high frequency bands, mobile users) or
          ^^^^^^^^
   depending on the deployment use-cases (e.g., performance of the
                               ^^^^^^^^^
   network between each individual data block), the relevance of adding
   network coding is different.

uses the same term in two very different contexts, and only one is qualified.
Is there a qualifier you can attach to the first use? Or could these examples be merged into one list of use case examples?

In this text,

   Many SATCOM systems typically use Performance Enhancing Proxy (PEP)
   RFC 3135 [RFC3135].  PEPs usually split end-to-end connections and
   forward transport or application layer packets to the satellite
   baseband gateway that deals with layer-2 and layer-1 encapsulation.
                                    ^^^^^^^^^^^^^^^^^^^
   PEPs contribute to mitigate congestion in a SATCOM systems by
   limiting the impact of long delays on Internet protocols.  A PEP
   mechanism could also include network coding operation and thus
   support the use-cases that have been discussed in the Section 3 of
   this document.

Are these PHY (used previously) and Link Layers? Or something else? If this is a new term for the same thing, it would be great to pick one term and use it consistently.

I think this

   Communications among deep-space platforms and terrestrial gateways
   can be a challenge.  Reliable end-to-end (E2E) communications over
   such paths must cope with very long delays and frequent link
   disruptions; indeed, E2E connectivity may be available only
                        ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
   intermittently.  Delay/Disruption Tolerant Networking (DTN) [RFC4838]
   ^^^^^^^^^^^^^^
   is a solution to enable reliable internetworking space communications
   where both standard ad-hoc routing and E2E Internet protocols cannot
   be used.  Moreover, DTN can also be seen as an alternative solution
   to transfer data between a central PEP and a remote PEP.

is more correctly "E2E connectivity may only be available intermittently, if at all" - there may not be a continuous end-to-end path at all in DTN, or do I misunderstand?

In this text,

   o  PEP: Performance Enhancing Proxy [RFC3135] - a typical PEP for
      satellite communications include compression, caching and TCP
                                                                ^^^
      acceleration;
      ^^^^^^^^^^^^

I know "TCP acceleration" is the correct marketing term (I worked at a company that sold them, in my darkest past), but would it be correct to say something like "TCP ACK spoofing", or "TCP connection splicing", which is I think the 3GPP term?


Lloyd Wood comment: 
ack spoofing has gone away in PEPs -- when the Savage attacks were addressed in TCP stacks. See Stefan Savage's papers, the relevant section of RFC5681, etc.


TCP connection splicing assumes an unencrypted TCP flow. That's going away, very rapidly. Compression and caching (typically for http) also assume unencrypted flows, and they're going away very quickly. Typical PEPs for satellite acceleration are stripping out this code as not worth maintaining. Yes, PEP proxying for a security endpoint and going full man-in-middle to recreate TLS etc. so that they could do compression and caching is technically possible, but the benefits generally aren't worth the security concerns and code complexity. (Though Riverbed will try to do it, bless their hearts.)


So, those technical terms of art are imo not worth being referred to at this point.


TCP congestion window sizing to ameliorate slow start remains, and is the go-to strength of PEPs for TCP that can be called out as a typical technical feature. It's slightly clearer than the generic 'TCP acceleration' imo, and is a substitution I'd recommend.
